
-- Profit Margins Logs
create table if not exists public.profit_margins_logs (
  id uuid default gen_random_uuid() primary key,
  outlet_id uuid not null references public.outlets(id),
  value numeric not null,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

alter table public.profit_margins_logs enable row level security;
drop policy if exists \
Margins
read
access\ on public.profit_margins_logs;
create policy \Margins
read
access\ on public.profit_margins_logs for select using (true);
drop policy if exists \Margins
write
access\ on public.profit_margins_logs;
create policy \Margins
write
access\ on public.profit_margins_logs for all using (true) with check (true);

-- Mock Data for 7 days across 4 outlets (15-30% range)
insert into public.profit_margins_logs (outlet_id, value, created_at)
select 
  o.id,
  (random() * 15 + 15)::numeric(4,2),
  current_date - (d || ' day')::interval
from public.outlets o, generate_series(0, 6) d;

